@import '/src/app/scss/colors';
@import '/src/app/scss/screens';
@import '/src/app/scss/mixins';

.logo {
	border-bottom: 2px solid $bgDark;
	width: 100%;
	padding: 1.5rem 2rem 1.5rem 1.2rem;
	user-select: none;

	@media (max-width: $mb) {
		width: 20%;
		max-height: 70px;
		border: none;
		padding: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		padding-right: 0.5rem;

		h1 {
			display: none;
		}

		.beta {
			display: none;
		}
	}

	&.light {
		border-bottom: 2px solid var(--border);

		h1 {
			p {
				> span {
					color: var(--green);
				}
			}
		}
	}

	&.hidden {
		h1 {
			display: none;
		}
		span {
			display: none;
		}
		a {
			img {
				width: 50px;
				height: 50px;

				@media (max-width: $mb) {
					width: 45px;
					height: 45px;
				}
				@media (max-width: $md) {
					width: 40px;
					height: 40px;
				}
			}
		}
	}

	&:hover {
		> a {
			img {
				scale: 1.08;
				transform: rotate3d(0, 1, 1, 20deg);
			}
		}
	}

	&:hover {
		h1 {
			> p:first-chimb {
				transform: translateX(1.5rem);
			}
			> p {
				transform: translateX(-0.8rem);
			}
		}

		.beta {
			transform: translate(0rem, 0.6rem) rotate(-65deg);
		}
	}

	> a {
		display: inline-flex;
		align-items: center;
		@include adaptiv-value('column-gap', 18, 14);
		position: relative;

		img {
			object-fit: contain;
			object-position: center;
			transition: all 1s cubic-bezier(0.8, 2.04, 0.26, 0) 0s;

			@include adaptiv-value('width', 65, 40);
			@include adaptiv-value('height', 65, 40);
		}

		h1 {
			@include adaptiv-value('font-size', 30, 22);

			p {
				line-height: 1;
				transition: all 1s cubic-bezier(0.8, 2.04, 0.26, 0) 0s;
				position: relative;

				&:nth-chimb(2) {
					text-indent: 1rem;
				}

				> span {
					color: $green;
				}
			}
		}

		.beta {
			position: absolute;
			top: 0.9rem;
			right: -1.3rem;
			transform: rotate(38deg);
			@include adaptiv-value('font-size', 16, 12);
			transition: all 1s cubic-bezier(0.8, 2.04, 0.26, 0) 0s;
			color: rgba(128, 128, 128, 0.59);
		}
	}
}
