@import '/src/app/scss/colors';

.logo {
	border-bottom: 2px solid $bgDark;
	width: 100%;
	padding: 1.5rem 2rem 1.5rem 1.4rem;
	user-select: none;

	&.light {
		border-bottom: 2px solid var(--border);

		h1 {
			p {
				> span {
					color: var(--green);
				}
			}
		}
	}

	&.hidden {
		h1 {
			display: none;
		}
		span {
			display: none;
		}
		a {
			img {
				width: 50px;
				height: 50px;
			}
		}
	}

	&:hover {
		> a {
			img {
				scale: 1.08;
				transform: rotate3d(0, 1, 1, 20deg);
			}
		}
	}

	&:hover {
		h1 {
			> p:first-child {
				transform: translateX(1.5rem);
			}
			> p {
				transform: translateX(-0.8rem);
			}
		}

		.beta {
			transform: translate(0rem, 0.6rem) rotate(-65deg);
		}
	}

	> a {
		display: inline-flex;
		align-items: center;
		column-gap: 1.2rem;
		position: relative;

		img {
			object-fit: contain;
			object-position: center;
			transition: all 1s cubic-bezier(0.8, 2.04, 0.26, 0) 0s;
		}

		h1 {
			font-size: 1.8rem;

			p {
				line-height: 1;
				transition: all 1s cubic-bezier(0.8, 2.04, 0.26, 0) 0s;
				position: relative;

				&:nth-child(2) {
					text-indent: 1rem;
				}

				> span {
					color: $green;
				}
			}
		}

		.beta {
			position: absolute;
			top: 0.9rem;
			right: -1.3rem;
			transform: rotate(38deg);
			font-size: 0.9rem;
			transition: all 1s cubic-bezier(0.8, 2.04, 0.26, 0) 0s;
			color: rgba(128, 128, 128, 0.6);
		}
	}
}
