@import '/src/app/scss/colors';
@import '/src/app/scss/screens';
@import '/src/app/scss/mixins';

.logo {
	border-bottom: 2px solid $bgDark;
	width: 100%;
	padding: 1.5rem 2rem 1.5rem 1.2rem;
	user-select: none;

	@media (max-width: $ld) {
		padding: 0.8rem 0rem 0.6rem 0.9rem;
		a {
			img {
				width: 52px;
				height: 52px;
			}
		}
	}

	&.light {
		border-bottom: 2px solid var(--border);

		h1 {
			p {
				> span {
					color: var(--green);
				}
			}
		}
	}

	&.hidden {
		h1 {
			display: none;
			@media (max-width: $ld) {
				a {
					img {
						width: 40px;
						height: 40px;
					}
				}
			}
		}
		span {
			display: none;
		}
		a {
			img {
				width: 50px;
				height: 50px;
			}
		}
	}

	&:hover {
		> a {
			img {
				scale: 1.08;
				transform: rotate3d(0, 1, 1, 20deg);
			}
		}
	}

	&:hover {
		h1 {
			> p:first-child {
				transform: translateX(1.5rem);
			}
			> p {
				transform: translateX(-0.8rem);
			}
		}

		.beta {
			transform: translate(0rem, 0.6rem) rotate(-65deg);
		}
	}

	> a {
		display: inline-flex;
		align-items: center;
		@include adaptiv-value("column-gap", 18, 14);
		position: relative;

		img {
			object-fit: contain;
			object-position: center;
			transition: all 1s cubic-bezier(0.8, 2.04, 0.26, 0) 0s;

			@include adaptiv-value("width", 65, 50);
			@include adaptiv-value("height", 65, 50);
		}

		h1 {
			@include adaptiv-value("font-size", 30, 22);

			p {
				line-height: 1;
				transition: all 1s cubic-bezier(0.8, 2.04, 0.26, 0) 0s;
				position: relative;

				&:nth-child(2) {
					text-indent: 1rem;
				}

				> span {
					color: $green;
				}
			}
		}

		.beta {
			position: absolute;
			top: 0.9rem;
			right: -1.3rem;
			transform: rotate(38deg);
			@include adaptiv-value("font-size", 16, 12);
			transition: all 1s cubic-bezier(0.8, 2.04, 0.26, 0) 0s;
			color: rgba(128, 128, 128, 0.59);
		}
	}
}
