@import './src/app/scss/colors';

.card {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	padding: 2rem;

	.info {
		flex: 1 1 50%;
		background-color: $bgDark;
		padding: 2rem;
		border-radius: 0 .8rem .8rem 0;
		overflow: hidden;

		.name {
		}
		.description {
		}
		.price {
		}
	}
}
