@import "./src/app/scss/screens";

.footer {
	color: rgba(245, 245, 245, 0.25);
	font-size: 0.7rem;
	text-align: center;
	padding: 1rem;
	user-select: none;

	@media (max-width: $mb) {
		display: none;
	}

	&.small {
		font-size: 0.28rem;
	}

	&.light {
		color: var(--foreground-rgb);

		> a {
			color: var(--green);
		}
	}

	> a {
		color: rgba(172, 255, 47, 0.4);
	}
}
