@import '/src/app/scss/colors';
@import '/src/app/scss/mixins';
@import '/src/app/scss/screens';

.profile {
	display: flex;
	gap: 10px;
	position: relative;
	background-color: rgba(245, 245, 245, 0.05);
	padding: 0.6rem 1rem;
	border-radius: 0.5rem;
	cursor: pointer;
	user-select: none;

	@media (max-width: $xl) {
		border-radius: 50%;
		padding: 0.2rem;

		&.light {
			background-color: rgb(240, 240, 240) !important;
			border: 1px solid var(--border);
		}
	}

	&.light {
		background-color: var(--bgDark);
		color: var(--text);
	}

	.avatarPath {
		.skeletonCircle {
			flex: 1 0 auto;
			background-color: $skeleton;
		}
	}

	.userAvatar {
		object-fit: cover;
		@include adaptiv-value('width', 60, 55);
		@include adaptiv-value('height', 60, 55);
		object-position: center;
		background-color: $blue;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 1.6rem;
	}

	.skeletonCircle {
		width: 60px;
		height: 60px;
		border-radius: 50%;
		background-color: $skeleton;
	}

	.info {
		display: flex;
		flex-direction: column;

		> span {
			font-size: 0.9rem;

			&.userId {
				font-size: 0.8rem;
				word-break: keep-all;
				text-wrap: nowrap;
				@include adaptiv-value('font-size', 14, 12);

				color: gray;
			}

			&.username {
				font-size: 1.4rem;
				@include adaptiv-value('font-size', 28, 18);
			}

			&.email {
				font-size: 0.9rem;
				@include adaptiv-value('font-size', 14, 12);
			}
		}

		@media (max-width: $xl) {
			display: none;
		}
	}
	.linkIcon {
		position: absolute;
		top: 8px;
		right: 8px;
		color: $green;

		@media (max-width: $xl) {
			display: none;
		}
	}
}

.skeletonBox {
	display: flex;
	align-items: center;
	gap: 10px;
	padding: 0.2rem 1rem;
	width: 320px;

	@media (max-width: $xl) {
		padding: 0;
	}

	.skeletonRight {
		width: 240px;

		@media (max-width: $xl) {
			width: auto;
		}
	}

	.skeleton,
	.skeletonCircle {
		background-color: $skeleton;
		flex: 1 0 auto;
	}

	@media (max-width: $xl) {
		display: block;
		width: auto;
	}

	@media (max-width: $xl) {
		.skeleton {
			display: none;
		}
	}
}
