@import '/src/app/scss/colors';
@import '/src/app/scss/screens';

.wrapper {
	padding: 1rem;
}

.skeletonBox {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	gap: 2rem;
	margin-top: 1rem;
	padding: 1rem;

	div {
		width: 100%;
		overflow: hidden;

		.bottom {
			display: flex;
			gap: 2rem;
			justify-content: space-between;
			margin-top: 0.7rem;

			.bottomLeft {
				.name {
					height: 35px;
				}
				.description {
				}
			}

			.bottomRight {
				width: 100px;
				height: 30px;

				.price {
					height: 30px !important;
				}
			}
		}

		.rectangular {
			height: 140px;
			border-radius: 0.2rem;

			@media (max-width: $xl4) {
				height: 150px;
			}
			@media (max-width: $xl2) {
				height: 180px;
			}
			@media (max-width: $xl) {
				height: 150px;
			}
			@media (max-width: 880px) {
				height: 240px;
			}
			@media (max-width: $tablet) {
				height: 160px;
			}
		}

		.skeleton {
			background-color: $skeleton;
			min-width: 100%;
		}
	}
}
