@import '/src/app/scss/colors';
@import '/src/app/scss/mixins';
@import '/src/app/scss/screens';

.statistics {
	display: flex;
	align-items: center;
	gap: 1rem;
	@include adaptiv-value('margin-top', 32, 10);
	display: flex;
	flex-direction: column;

	@media (max-width: $mb) {
		height: calc(100svh - 70px);
	}

	.title {
		user-select: none;
		text-align: center;
		@include adaptiv-value('font-size', 80, 40);

		span {
			color: $green;
		}
	}

	.text {
		@include adaptiv-value('font-size', 22, 14);
		text-align: center;
		span {
			color: $green;
		}
	}

	.cards {
		display: flex;
		gap: 1rem;
		margin-top: 1rem;

		@media (max-width: 520px) {
			flex-wrap: wrap;

			.statisticsCard {
				flex: 1 0 auto;
			}
		}
	}

	&.light {
		.statisticsCard {
			color: var(--text);
			background-color: var(--bgDark);
		}
		.title {
			span {
				color: var(--green);
			}
		}
		.text {
			span {
				color: var(--green);
			}
		}
	}

	.statisticsCard {
		background-color: $bgDark;
		@include adaptiv-value('width', 300, 180);
		@include adaptiv-value('height', 140, 120);
		padding: 1rem;

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		border-radius: 0.5rem;
		position: relative;
		transition: all 0.23s ease-in-out 0s;

		&:hover {
			transform: translateY(-8px);
		}

		&::after {
			content: '';
			width: 8px;
			height: 8px;
			background-color: $green;
			border-radius: 50%;
			position: absolute;
			top: 8px;
			box-shadow: 0 0 10px yellow;
			right: 8px;
		}

		> p {
			span {
				color: $blue;
			}
		}

		> h1 {
			@include adaptiv-value('font-size', 64, 48);
		}
	}

	.box {
		display: flex;
		align-items: center;
		gap: 1rem;
		margin-top: 1rem;

		@media (max-width: 520px) {
			flex-wrap: wrap;

			.skeleton {
				flex: 1 0 auto;
			}
		}

		.skeleton {
			@include adaptiv-value('width', 300, 180);
			@include adaptiv-value('height', 140, 120);
			border-radius: 0.5rem;
			background-color: $skeleton;
		}
	}
}
