@import './src/app/scss/colors';
@import './src/app/scss/mixins';
@import './src/app/scss/screens';

.logoutBtn {
	position: absolute;
	bottom: 0.5rem;
	right: 0.5rem;
	opacity: 0.5;

	&.light {
		button {
			color: var(--text);
		}
	}

	button {
		background-color: transparent;
		border: none;
		cursor: pointer;
		position: relative;
		color: $yellow;

		svg {
			@include adaptiv-value('width', 26, 22);
			@include adaptiv-value('height', 26, 22);
		}

		&:hover::after {
			opacity: 1;
			@include adaptiv-value('right', 34, 26);
			scale: 1;
		}

		&::after {
			content: 'Logout';
			background-color: rgba(128, 128, 128, 0.15);
			padding: 0.2rem 0.5rem;
			border-radius: 0.4rem;
			opacity: 0;
			scale: 0;
			transition: all 0.23s ease 0s;
			position: absolute;
			font-family: var(--first-family);
			@include adaptiv-value('top', 2, 1);
			right: -1rem;
			@include adaptiv-value('font-size', 16, 12);

			@media (max-width: $mb) {
				opacity: 1;
				scale: 1;
				right: 26px;
			}
		}
	}
}
