@import './src/app/scss/colors';
@import './src/app/scss/mixins';
@import './src/app/scss/screens';

.settings {
	padding: 1rem;
	min-height: 100vh;

	@media (max-width: $mb) {
		height: calc(100svh - 90px);
		min-height: 0;
	}
}

.skeleton {
	background-color: $skeleton;
	min-height: 280px;
	width: 50%;
	margin-top: 2rem;
	border-radius: 0.8rem;

	@media (max-width: 1180px) {
		@include adaptiv-value('width', 500, 300);
		height: 500px;
		min-width: 300px;
	}
}
