@import '/src/app/scss/colors';
@import '/src/app/scss/mixins';

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-block: .6rem;
	border-bottom: 2px solid $bgDark;
	width: 100%;
	position: relative;
	@include adaptiv-value("padding-inline", 24, 8);

	&.light {
		border-bottom: 2px solid var(--border);
	}

	.right {
		display: flex;
		align-items: center;
		@include adaptiv-value("gap", 50, 5);
	}
}
